.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: azure;
  padding: 1rem;
  overflow: hidden;
}

.table_wrap {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
}

.table {
  height: fit-content;
  padding: 1rem;
}
